<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>
<p>
  <strong>adult:</strong>
  <%= @event.perchild %>
</p>
<p>
  <strong>child:</strong>
  <%= @event.peradult %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
